
.footer__main{
    background-color: var(--color-primary);
    padding: 4rem 1rem;
    display: flex;
    color: var(--color-white);
}

footer .footer__logo{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer__logo img{
    width: 10rem;
}
.footer__logo h2{
    font-weight: 300;
    margin-top: 1rem;
}
.footer__logo p{
    font-weight: 100;
    text-align: center;
}
.footer__navigation{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
footer h2{
    font-weight: 300;
}
footer ul li a{
    color: var(--color-whites);
    text-align: center;
    font-weight: 100;
    line-height: 2rem;
}
footer ul li a:hover{
    text-decoration: underline;
}
.footer__support{
    flex-basis: 30%;
}
.footer__functions{
    flex-basis: 30%;
}

.bottom__footer{
    text-align: center;
    background-color: black;
    color: var(--color-white);
    padding: 1rem 2rem;
    font-weight: 200;
}

/* ==================MEDIA QURIES (MEDIUM DEVICES)=============== */

@media screen and (max-width:1024px){

    .footer__logo img{
        width: 5rem;
    }
}

/* ==================MEDIA QURIES (SMALL DEVICES)=============== */

@media screen and (max-width:600px) {
    footer .footer__logo{
        display: none;
    }
    footer h2{
        font-size: 1rem;
    }
    footer ul li a{
        font-size: 1rem;
    }
    .footer__navigation{
        flex-basis: 33%;
    }
    .footer__support{
        flex-basis: 33%;
    }
    .footer__functions{
        flex-basis: 33%;
    }
}