@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --color-primary : #03312E;
    --color-primary-variant : #549F93;
    --color-white : #fff;
    
    --polygon-shape-upper : polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    --polygon-shape-lower : polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);

    --color-light : rgba(255,255,255,0.75);
    --transition : 500ms linear;
}
html{
    scroll-behavior: smooth;
}

.btn{
    background-color: transparent;
    border: 1px solid white;
    text-align: center;
    border-radius: 4px;
    color: white;
    padding: 1rem 0;
    min-width: 10rem;
    transition: var(--transition);
}
.btn:hover{
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    letter-spacing: 1px;
}

.btn__primary{
    background-color: white;
    color: #03312E;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.btn__primary:hover{
    color: white;
    letter-spacing: 4px;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-primary);
}
.container h2{
    font-size: 2em;
}
.container small{
    display: block;
    font-weight: 100;
    font-size: 1.2rem;
}
